@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    
}
header{
    height: 150px;
    background-color: $color-1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloPrincipal{
    
    color: $color-4;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
    display: none;
}
.logo{
    width: 150px;
    height: 150px;

    animation-name: movimiento-1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-duration: 4s;
}

@keyframes movimiento-1 {
    25% {
        transform: rotate(360deg) scale(1.1,1.1);
    }
    
}

#hero{
    height: 70vh;
    background-image: url(../assets/hero4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero{
    .banner{
        color: $color-3;
        font-size: 60px;
        text-align: center;
        font-weight: bolder;
        -webkit-text-stroke: 2.5px black;
    }
}
main{
    
    font-size: 25px;
}
section{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}
.titulos {
    color: $color-3;
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}
.subtitulos{
    color: $color-3;
    margin-left: 20px;
}

.navbar-custom{
    background-color: $color-2;
}

.nav{
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 50px;
    }
    
}
.nav{
    ul{
        li{
            display: inline-block;
            margin: 10px;
        }
    }
    
}


.nav{
    a{
        &:hover{
            color: #b9b0b0;
            font-size: 28px;
        }
       
    }
    
}

#footer{
    text-align: right;
    background-color: $color-1;
}
#footer{
    ul{
        list-style-type: none;
    }
    
}
#footer{
    a, p{
        text-decoration: none;
        color: $color-4;
    }
    
}
#footer{
    section{
        margin-right: 20px;
        padding: 50px;
    }
    

}
#footer{
    div{
        margin-bottom: 20px;
    }
    
}
.icono{
    position: fixed;
	width: 60px;
	height: 60px;
    bottom: 110px;
    right: 10px;
    background-image: url('../assets/logoWA.png');
    background-size: contain;
}

fieldset{
    background-color: $color-2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    padding: 10px;
}
input{
    margin: 10px;
}



.faq{
    h3{
        font-weight: bolder;
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
}



/* Seccion Grid Inicio */
.contenedor{
    
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "hero"
    "main"
    "footer"
    ;
}
.contenedor{
    header{
        grid-area: header;
    }
    
}
.contenedor{
    nav{
        grid-area: nav;
    }
    
}
.contenedor{
    #hero{
        grid-area: hero;
    }
    
}
.contenedor{
    main{
        grid-area: main;
    }
    
}

.contenedor{
    footer{
        grid-area: footer;
    }
    
}


 

.prodDestacados{
    display: grid;

    grid-template-areas:
    "uno"
    "dos"
    "tres"
    ;
    grid-gap: 40px;
}

.uno{
grid-area: uno;
}
.dos{
grid-area: dos;
}
.tres{
grid-area: tres;
}

.uno, .dos, .tres{
    border: 3px #a52a2a solid;
    text-align: center;
    height: 300px;
    background-color: $color-1;
    margin-bottom: 100px;
 
} 

/* comienza uso de media queries */
@media screen and (min-width: 768px){
    .logo{
        width: 200px;
        height: 200px;
    }
    #hero{
        height: 90vh;
    }
    #hero{
        .banner{
            font-size: 70px;
        }
    }
    header{
        height: 250px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .tituloPrincipal{
        display: inline-block;
    }
    .prodDestacados{
        grid-template-areas:
        "uno dos tres"
        ;
        grid-gap: 40px;
    
    }
    .faq{
        h3{
            font-weight: bolder;
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }

}

//Maps

$productos: (
    uno: blue,
    dos: red,
    tres: green,

);

@each $producto, $color in $productos {
    .producto-#{$producto} {
        color: $color;
        height: 20px;
        width: 20px;
    }

}


//Extend
.button{
    background-color: #d86dd2;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 12px;
    transition-duration: 0.5s;
}
.button{
    &:hover {
        background-color: #ad059f;
        color: #ffffff;
    }
}
.button-productos{
    @extend .button;
    background-color: white;
    border: black;
}

//Mixins + mezcla ultimas prop de SASS

@mixin size{

    border: solid 2px #000;
}

.productos{
    @include size;
}

.prodDestacados{
    @extend .productos;
    border: gold;
}
